<OButton @foo={{foo}} @bar={{bar}}>Button</OButton>

<button onclick={{action (mut foo) 10}}>Set Foo</button>
<button onclick={{action (mut bar) null}}>Clear Bar</button>


<ODiv @backgroundImage={{backgroundImage}} />

<div class="o-div" {{custom-property "--background-image" backgroundImage}}></div>