<OButton @foo={{this.foo}} @bar={{this.bar}}>Button</OButton>

<button onclick={{action (mut this.foo) 10}}>Set Foo</button>
<button onclick={{action (mut this.bar) null}}>Clear Bar</button>


<ODiv @backgroundImage={{this.backgroundImage}} />

<div class="o-div" {{custom-property "--background-image" this.backgroundImage}}></div>